<h3>Detail Component</h3>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ post.title }}</h3>
            </div>
            <div class="panel-body" [innerHTML]="post.content"></div>
            <div class="panel-footer">
                <span><i class="glyphicon glyphicon-time"></i> {{ post.date }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item" *ngFor="let category of categories">{{ category.name }}</a>
        </div>
    </div>
    <div class="col-md-12">
        <h3>Comments</h3>
        <div class="alert alert-success" *ngIf="messages.length">
            <ul>
                <li *ngFor="let message of messages">{{ message }}</li>
            </ul>
        </div>
        <div class="alert alert-danger" *ngIf="errors.length">
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <!--Comments-->
        <div class="well" *ngIf="comments.length">
            <div *ngFor="let comment of comments">
                <div><span class="text-warning">{{ comment.user }}</span> - {{ comment.date }}</div>
                <div>{{ comment.content }}</div>
            </div>
        </div>

        <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="Share.get('user')">
            <div class="form-group">
                <label>Reply</label>
                <textarea class="form-control" rows="3" [(ngModel)]="model.comment" name="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>