<h3>Show Component</h3>
<div class="alert alert-danger" *ngIf="errors.length">
	<ul>
		<li *ngFor="let error of errors">{{ error }}</li>
	</ul>
</div>
<div class="row">
	<div class="col-md-12">
		<form (ngSubmit)="onSubmit()" #form="ngForm">
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" placeholder="Email" [(ngModel)]="model.email" name="email" disabled>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" placeholder="Password" [(ngModel)]="model.password" name="password">
			</div>
			<div class="form-group">
				<label>Confirm Password</label>
				<input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="model.confirm_password" name="confirm_password">
			</div>
			<div class="form-group">
				<label>Level</label>
				<!--Phải có thuộc tính name trong element nếu không sẽ báo lỗi khi dùng ngModel-->
				<select class="form-control" [(ngModel)]="model.level" name="level"> 
						<option value="0">Choose Level</option>
						<option value="1">Administrator</option>
						<option value="2">Member</option>
				</select>				
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>		
	</div>
</div>