<h3>List Component</h3>
<div class="alert alert-success" *ngIf="messages.length">
	<ul>
		<li *ngFor="let message of messages">{{ message }}</li>
	</ul>
</div>
<div class="alert alert-danger" *ngIf="errors.length">
	<ul>
		<li *ngFor="let error of errors">{{ error }}</li>
	</ul>
</div>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Author</th>
			<th>Date</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let post of posts; let i = index;">
			<td>{{ post.index + 1 }}</td>
			<td>{{ post.title }}</td>
			<td>{{ post.user }}</td>
			<td>{{ post.date }}</td>
			<td>
				<a routerLink="/posts/{{ post.id }}/show" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
				<button type="button" class="btn btn-danger" (click)="deleteId(post)"><i class="glyphicon glyphicon-remove"></i> Delete</button>
			</td>
		</tr>
	</tbody>
</table>
<div *ngIf="pagination" [pagination]="pagination.routerLinks"></div>