<h3>List Component</h3>
<div class="alert alert-success" *ngIf="messages.length">
	<ul>
		<li *ngFor="let message of messages">{{ message }}</li>
	</ul>
</div>
<div class="alert alert-danger" *ngIf="errors.length">
	<ul>
		<li *ngFor="let error of errors">{{ error }}</li>
	</ul>
</div>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Order</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let category of categories; let i = index;">
			<td>{{ category.index + 1 }}</td>
			<td>{{ category.name }}</td>
			<td>{{ category.order }}</td>
			<td>
				<a routerLink="/categories/{{ category.id }}/show" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
				<button type="button" class="btn btn-danger" (click)="deleteId(category)"><i class="glyphicon glyphicon-remove"></i> Delete</button>
			</td>
		</tr>
	</tbody>
</table>
<div *ngIf="pagination" [pagination]="pagination.routerLinks"></div>