<h3>List Component</h3>
<div class="alert alert-danger" *ngIf="errors.length">
  <ul>
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>
</div>
<div class="row">
	<div class="col-md-12">
		<form (ngSubmit)="onSubmit()" #form="ngForm">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" placeholder="Name" [(ngModel)]="model.name" name="name">
			</div>
			<div class="form-group">
				<label>Order</label>
				<input type="number" min="0" class="form-control" placeholder="Order" value="0" [(ngModel)]="model.order" name="order">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>