<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">QHOnline</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/">Dashboard</a></li>
        <li class="dropdown" routerLinkActive="active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/categories">List</a></li>
            <li><a routerLink="/categories/create">Create</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLinkActive="active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/users">List</a></li>
            <li><a routerLink="/users/create">Create</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLinkActive="active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Questions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/posts">List</a></li>
            <li><a routerLink="/posts/create">Create</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!Share.get('user')"><a routerLink="/register">Register</a></li>
        <li *ngIf="!Share.get('user')" routerLinkActive="active"><a routerLink="/login">Login</a></li>
        <li *ngIf="Share.get('user')"><a href="logout" (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>